<% if @answer.errors.present? %>
  <% @answer.errors.full_messages.each do |message| %>
    $('textarea#answer_body').before('<div><%= j message %></div>');
  <% end %>
<% else %>
  $('#answers').append('<%= j render @answer %>');
  $('form#new_answer #answer_body').val('');
<% end %>

