<% if @answer.errors.present? %>
  <% @answer.errors.full_messages.each do |message| %>
    $('textarea#answer_body').html('<div><%= j message %></div>');
  <% end %>
<% else %>
  new_body = $('<%= j render @answer %>').find('.body')
  $('<%= "#answer_#{@answer.id} .body" %>').replaceWith( new_body );
  $('<%= "#edit_answer_#{@answer.id}" %>').hide()
<% end %>

